* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TodoList{

  margin : 50px
}

body{

  font-family: Arial, Helvetica, sans-serif;
}

.todoLi{
 border-bottom-style: inset;
}

.myList{
  width: 24%;
}